.container{
    text-align: center;
    background-color: #9a8c98;
}

body{
    text-align: center;
    background-color: #4a4e69;
}


.upper-heading{
    background-color: #22223b;
    color:  white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-heading{
    margin-top: 3rem;
}

#book-icon{
    font-size: 20vh;
}

.container{
    border-radius: 3rem;
    box-shadow: 5px 5px 10px black;
}

.logo{
    height: 8rem;
    width: auto;
    margin: 0;
}